.page {
    display: grid;
    grid-template-areas: 
        "header header header"
        "sidebar main widget1"
        "sidebar main widget2"
        "footer footer footer";
    gap: 15px;
    height: 600px;
    grid-template-columns: 200px 1fr 300px;
    grid-template-rows: 80px 1fr 60px;
}

.header {
    grid-area: header;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #333;
}

.main {
    grid-area: main;
    background-color: #333;
}

.widget1 {
    grid-area: widget1;
    height: 200px;
}

.widget2 {
    grid-area: widget2;
    height: 200px;
}

.footer {
    grid-area: footer;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}